
<div class="row p-5 ">
    <div class="col-sm-12">
        <form>
            <h2 class="custom-text-color ">Login</h2>
            <div class="mb-3">
                <label for="email-login" class="form-label">Email</label>
                <input type="text" class="form-control" id="email-login">
            </div>
            <div class="mb-3">
                <label for="password-login" class="form-label">Password</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <button type="submit" class="btn btn-primary custom-background-color capitalize">Submit</button>
        </form>
    </div>
</div>

<script src="/js/login.js"></script>